@import "fonts";
@import "vars"; //auth
@import "src/auth/login/login.component";
@import "src/auth/registration/registration.component"; //cart
@import "src/cart/cart-list/cart-list.component";
@import "src/cart/order-bar/order-bar.component";
@import "src/cart/order-list/order-list.component"; //categories
@import "src/categories/categories-page/categories-page.component";
@import "src/categories/category-page/category-page.component";
@import "src/categories/shared/categories-list.component"; //home
@import "src/home/home-page/home-page.component"; //nav
@import "src/nav/side-nav/side-nav.component";
@import "src/nav/loader-bar/loader-bar.component"; //products
@import "src/products/product-page/product-page.component";
@import "src/products/shared/products-list/products-list.component";
//ui
@import "src/ui/popular-products/popular-products.component";
@import "src/ui/slider/slider.component";

strong {
    font-family: raleway-ex;
}

body {
    font-family: $default-font !important;
    font-size: 16px;
    line-height: 1.75;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

a.btn-floating.btn-large.halfway-fab.waves-effect.waves-light.red.btn__add {
    position: relative;
}
@media (min-width: 1200px) {
    .container {
        width: 1188px !important;
    }
}

.fixed-cart {
    position: absolute;
    margin-top: 115px;
    width: 100%;
}
