side-nav
.main-content
    .fixed-content
        .container-fluid.container-slider
            .row
                .col-md-12.container-slider
                    slider
        .container
            .row
                .col-md-3
                    categories-list
                .center_column.col-sm-8.col-md-9
                    popular-products
                    .product-border.product_list.grid
                        products-list