side-nav
.main-content
    .fixed-content
        .container
            .row
                .col-md-3
                    categories-list
                .center_column.col-sm-8.col-md-9
                    .product-border.product_list.grid
                        products-list