side-nav
.main-content
    .fixed-cart
        .container-fluid
            .row
                .col-md-12
                    back-btn
                    p {{ product?.id }}
                    p {{ product?.title_en }}