.collection-item:hover {
  text-decoration: none;
}
.category__list {
  list-style: none;
  padding: 0;
  border: 1px solid #333;
  border-radius: 5px;
}
.collection-item {
  background: #333 !important;
  border-bottom: 1px solid rgba(255,255,255,0.2) !important;
}
.category__link {
  background: #333;
  display: block;
  margin-bottom: 4px;
}
.category__item {
  padding: 7px;
}
.collection {
  margin-top: 0 !important;
}
.title_block {
    background: #f8694d;
}
.title_block {
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    padding-left: 25px;
    line-height: 50px;
    text-transform: uppercase;
    display: block;
    color: #fff;
}