ngb-carousel
  template(ngbSlide='')
    img(src='http://lorempixel.com/900/500?r=1', alt='Random first slide')
    .carousel-caption
      h3 First slide label
      p Nulla vitae elit libero, a pharetra augue mollis interdum.
  template(ngbSlide='')
    img(src='http://lorempixel.com/900/500?r=2', alt='Random second slide')
    .carousel-caption
      h3 Second slide label
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  template(ngbSlide='')
    img(src='http://lorempixel.com/900/500?r=3', alt='Random third slide')
    .carousel-caption
      h3 Third slide label
      p Praesent commodo cursus magna, vel scelerisque nisl consectetur.