side-nav
.fixed-cart
    .shipping
        .container
            .row
                .col-md-12.continue__shop
                    p.arrow.left
                    p.back--shop((click)="back()") Continue Shopping
                .col-md-12
                    p.text-center.shipping__title Step 1
                    p.text-center.shipping__subtitle shipping
            .row
                .col-sm-8.shipping__container
                    .col-sm-4
                        .choice
                            .choice__img
                            .choice__text
                                p EMS Доставка
                            .choice__pice
                                p 100$
                .col-md-4
                    order-bar