side-nav
.fixed-cart
    .shipping
        .container
            .row
                .col-md-12.continue__shop
                    p.arrow.left
                    p.back--shop((click)="back()") Continue Shopping
                .col-md-12
                    p.text-center.shipping__title Step 1
                    p.text-center.shipping__subtitle shipping
            .row
                .col-sm-8.shipping__container
                    .col-sm-12(
                        *ngFor="let mod of model",
                        (click)="toogleMail(mod)"
                      )
                      .shipping__block
                        p.choice__title {{ mod.title }}
                        p.choice__price Цена: 12$
                        p.choice__time {{ mod.txt }}
                      .choice-detail(*ngIf="mod.loading")
                        .choice-detail__logo
                          img.choice-logo__img(src="{{mod.logo}}")
                          a.choice-logo__img(href="{{mod.site}}") Site
                        .shipping-calculator(*ngIf="mod.detls.on === 1")
                          p ADSASD
                .col-md-4
                    order-bar
